/* {box-sizing:border-box}*/


/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}


/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}


.mySlides img {
  max-height: 20vw;
  max-width: 100%;
}

/* Caption text */
.text {
  color: #7a7a7a;
  font-size: 2em;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  bottom: 50%;
}

/* The dots/bullets/indicators */
#dots {
  position: absolute;
  left: 0;
  right: 0; 
  bottom:0px;
  margin-left: auto; 
  margin-right: auto; 
  width: 100%; /* Need a specific value to work */
}


.dot {
  cursor: pointer;
  position:relative;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ffffff;
}


/* Text below the top slideshow*/

#carousel-text {
  padding-bottom: 4vw;
  background-color: white;
}
h1 {
  text-align: center;
  color: black;
  font-size: 2em;
  padding-top: 2em;
}

#head-description {
  text-align: center;
  font-size: 1.5em;
  color: silver;
}


/* ------------------Bootstrap Carousel------------*/

/* sliding blocks*/

.block {
  margin: auto;
  width: 90%;
  box-shadow: 0px 2px 1px rgb(168, 168, 168);
  padding-bottom: 0px;
}

.block img {
  margin: auto;
  max-height: 9vw;
  width: auto;
  text-align: center;

}

.flex-container {
  display:flex;
  justify-content: space-between;
}

.flex-container > p:first-child {
  margin-left: 3px;
}

.pin-button {
  cursor: pointer;
  display:flex;
  box-shadow: 0px 2px 1px rgb(168, 168, 168);
  margin-right: 5px;
}
.pin-button p {
  text-align: center;
}
.pin-button img {
  width: 2em;
}

.pin-button img{
  height: 2em;
  width: auto;
}

.checked {
  display:none;
}

.car-detail {
  cursor: pointer;
  outline: 1px solid rgb(59, 59, 59);
  padding: 1px 4px 1px 4px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}

.car-detail img {
  float: right;
  height: 1.5em;
  width: auto;
  vertical-align: middle;
}
/*Carousel*/


.carousel-inner { width: 100%;}
.carousel-control { width:  2%;}
#myCarousel {width: 100%}
.carousel-control.left,
.carousel-control.right {
  background-image:none;
}
 
.carousel-control img {
  margin-top: 3em;
  height: 3em;
  color: #444;
}

@media (max-width: 767px) {
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }

}
@media (min-width: 767px) and (max-width: 992px ) {
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
  }
}
@media (min-width: 992px ) {
  
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(16.7%, 0, 0);
      transform: translate3d(16.7%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-16.7%, 0, 0);
      transform: translate3d(-16.7%, 0, 0);
  }
  
}


/* ------------CSS code for the search boxes -----------*/
#test {
  padding-bottom: 7vw;
}

#search-box {
  background-color: white;
}

#typesearch {
  outline: 1px;
  box-shadow: 2px black;
  background-color: rgb(206, 206, 206);
}
#typesearch h3{
  font-size: 2em;
  padding-bottom: 0.5em;
  color: #7a7a7a;
}

.car-row {
  display: flex;
  justify-content: space-around;
}
.car-type {
  padding: 2px;
}

.selected {
  float:right;

}

.not-selected {
  display:none;
  float: right;
}


#makersearch {
  outline: 1px solid black;
  box-shadow: 0px 2px 1px rgb(168, 168, 168);
}

#wordsearch {
  margin-block: 1vw;
  outline: 1px solid black;
  box-shadow: 0px 2px 1px rgb(168, 168, 168);
}

