/* background of the page*/
body {
    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: rgb(64, 106, 127);
    margin: 0;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
  }
  
/* Links inside the navbar */
.navbar a {
    position:relative;
    float: right;
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding: 1vh 2vw;
    text-decoration: none;
    margin-top: 1vh;
}

#lastlink {
    padding-right: 0;
    margin-right: 1vw;
}

#logo {
    float: left;
    outline: 1px solid rgb(255, 255, 255);
    padding: 0 1vw;
    margin: 2vh 2vw;
    height: 4em;
    width: auto;
}


/* Add a light background color to navbar links on hover */
.navbar a:hover {
background-color: rgb(79, 100, 110);
}

.navlinks {
    clear: right;
}

#pined {
    font-size: 0.8em;
    padding: 1vh 0 1vh 1.5vw;
    outline: 1px solid white;
    text-align: center;
    margin: 1vh 1vw;
}

#navarrow {
    height: 1em; 
    width: auto;
    padding: 0 0.5em;
    margin-bottom: 0.2em;
}

@media (max-width: 767px) {
    #logo {
        height: 2em;
        margin: 1vh 0 0 2vw;
    }
    .navbar a {
        font-size: 0.8em;
    }
    #pined {
        font-size: 0.6em;
        padding: 0.3vh 0 0.3vh 1vw;
    }
}